<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftOCR Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftOCR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>373ED0AE1CC9071C00C4758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373ED0B81CC9071D00C4758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373ED0E51CC909A400C4758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373ED0EE1CC909A500C4758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
