<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SwiftOCRTests</key>
		<dict>
			<key>testBigImageSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0795</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testFFNNCopy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testMultipleSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.21047</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 16:03:04</string>
				</dict>
			</dict>
			<key>testSingleSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10989</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 16:03:04</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
