<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>SwiftOCRTests</key>
		<dict>
			<key>testBigImageSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0843</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testConvertImageToFloatArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.031374</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testConvertImageToFloatArrayWithResize()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0080155</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testExtractBlobs()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18379</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testMultipleSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.5657</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testPreprocessImageForOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.0838</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
			<key>testSingleSwiftOCR()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.91506</real>
					<key>baselineIntegrationDisplayName</key>
					<string>08.05.2016, 19:19:17</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
